/* perspective  (3D)*/
/* 
box-sizing: border-box;
perspective: 600px;
transform-style: preserve-3d;

/* keyfames and Animation */
/*  animation-name: change-color;
animation-duration: 5s;
animation-iteration-count: 2;
animation-timing-function: linear;(infinity of turning)
animation-direction: reverse;
animation-direction: alternate;
animation-direction: alternate-reverse;
animation-delay: 2s;(time before animation starts)
animation-fill-mode: forwards;(take the last style for example (color))
animation-fill-mode: backwards;(the opposite of forwards:take the first style)
animation-fill-mode: both;(the forwards and backwards)
animation-play-state: running;(default value)
animation-play-state: paused;
animation: Name Timing linear timing infinite reverse;(short-hand)

*/
/* @keyframes change-color{
    from{
        background-color: red;
        
        }
        to{
            background-color: green;
            
        }
        } */
/* @keyframes change-color{
    0%{
        background-color:red;
    }
    50%{
        background-color: green;
    }
    100%{
        background-color: red;
    }
} */

/* media */

/* Mobile */
@media (max-width :767px){
    
}

/* Small screens */
@media (min-width :768px){
    
}

/* Medium screens */
@media (min-width :992px){
    
}

/* Large screens */
@media (min-width :1200px){
    
}
/* X Large screens */
@media (min-width :1400px){
    
}

.center-position{
    position: absolute;
    left: -50%;
    top: -50%;
    transform: translate(-50% ,-50%);
    -webkit-transform: translate(-50% ,-50%);
    -moz-transform: translate(-50% ,-50%);
    -ms-transform: translate(-50% ,-50%);
    -o-transform: translate(-50% ,-50%);
}

.cercle-100{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.cercle-200{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: aqua;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.center-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}






