*{
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgba(0, 0, 0, 0.425);
}

.load {
    margin: 50px auto;
    display: flex;
    justify-content: center;
}

.load div {
    background-color: rgb(8, 41, 49);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 5px;
    animation-name: Anim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction:alternate ;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.Two {
    animation-delay: 0.3s;
}

.Three {
    animation-delay: 0.6s;
}

@keyframes Anim {
    to {
        opacity: 0.6;
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
}
}