.container {
    background-color:rgba(0, 0, 0, 0.829);
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .Forme {
    background-color: rgb(182, 180, 55);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    gap: 8px;
    border: 1.5px solid black;
    width: 600px;
    border-radius: 8px;
}



.container .Forme .header {
    background-color: rgba(224, 90, 23, 0.397);
    font-size: 65px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2.5px solid black;
    border-radius: 9.5px;
}

.container .Forme label {
    font-size: 23px;
    font-weight: 600;
    cursor: pointer;
}

.container .Forme input {
    background-color: rgba(241, 237, 237, 0.993);
    height: 30px;
    width: 200px;
    border: 2.5px solid black;
}

.container .Forme .envoyer:hover {
    background-color: rgb(21, 24, 23);
    border: 2.5px solid white;
    border-radius: 30px;
}

.container .Forme .envoyer input {
    color: black;
    background-color: rgba(31, 31, 32, 0.74);
    border-radius: 30px;
    cursor: pointer;
    
}

.title {
    background-color: rgb(153, 150, 144);
    color:rgb(182, 110, 43);
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 4px solid rgb(196, 121, 35);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}





