.container {
    background-color:rgba(0, 0, 0, 0.829);
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .Forme {
    background-color: rgb(182, 180, 55);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 600px;
    gap: 8px;
    border: 1.5px solid black;
    width: 600px;
    border-radius: 8px;
}



.container .Forme .header {
    background-color: rgba(224, 90, 23, 0.397);
    font-size: 65px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 2.5px solid black;
    border-radius: 9.5px;
}

.container .Forme label {
    font-size: 23px;
    font-weight: 600;
    cursor: pointer;
}

.container .Forme input {
    background-color: rgba(241, 237, 237, 0.993);
    height: 30px;
    width: 200px;
    border: 2.5px solid black;
}

.container .Forme .envoyer:hover {
    background-color: rgb(21, 24, 23);
    border: 2.5px solid white;
    border-radius: 3.5px;
}

.container .Forme .envoyer input {
    color: black;
    background-color: rgba(31, 31, 32, 0.74);
    border-radius: 8px;
    cursor: pointer;
    
}

    
