.container{
    background-color: gray;
}
.container .Logo {
    background-color: aqua;
    width: 125px;
    font-size: 25px;
    border: 1.5px solid black;
    border-radius: 7px;
}

.container .Logo span {
    color: rgb(228, 20, 20);
}

.container li {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    position: relative;
}

.container .Home .title{
    background-color: aqua;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container .Home .SUB-title {
    font-size: 45px;
    background-color: yellow;
    width: 200px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}


.container .Home .image {
    width: 800PX;
    height: 300px;
    border: 2.5px solid black;
    border-radius: 7.5px;
    display: flex;
    justify-content: center;
}


.container .Home .para {
    width: 100%;
    background-color: rgb(125, 125, 199);
}

.container .ex {
    background-color: aqua;
    letter-spacing: 8px;
    text-shadow: 6px;
    text-indent: 100px;
}

.container .para {
    line-height: 1.7 ;
}






