.Gradients {
    width: 100%;
    height: 100px;
    background-color: aqua;
    border: 4.5 solid black;
    border-radius: 8px;
    background-image: linear-gradient(to right, green 20%, yellow , red );
    font-family: 'Courier New', Courier, monospace;
    font-size: 40px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.Nav-bar {
    background-color: #eee;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 40px;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 19px;
    font-weight: 600;
    position: fixed;
}

.Nav-bar :hover {
    color: rgb(9, 139, 139);
    cursor: pointer;
    border-bottom: 2px solid rgb(9, 139, 139);
    /* border-bottom: rgb(27, 29, 29); */
}
.Home .para{
    width: 1000px;
    background-color: aqua;
    height: 400px;
    display: flex;
    align-content: center;
    margin-top: 40px;
    text-align:start;
    justify-content: center;
    align-items: center;
    border: 1.5px solid black;
    border-radius: 8px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    font-weight: 530;

    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.Home {
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: translate(50px, -0px);
    margin-top: 49px;
    transform: skew(10deg ,10deg);
    -webkit-transform: skew(-10deg);
    -moz-transform: skew(10deg ,10deg);
    -ms-transform: skew(10deg ,10deg);
    -o-transform: skew(10deg ,10deg);
}

/* Grid method */

/* .Home {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    transform: skew(10deg ,10deg);
    grid-area: auto;
    grid-column: auto;
    grid-row: auto;
    overflow: hidden
    
} */

/* transform /rotate /transition */
.Home :hover {
    overflow: hidden;
    transition: 1.5s;
    transform: rotate(10deg) scale(1.5);
    opacity: 3.4px;
    /*transition: 180deg;
    /**/transform: scale(2);
    -webkit-transform: rotate(10deg) scale(1.5);
    -moz-transform: rotate(10deg) scale(1.5);
    -ms-transform: rotate(10deg) scale(1.5);
    -o-transform: rotate(10deg) scale(1.5);
}
